<!-- START Top Navbar-->
<nav role="navigation" class="navbar topnavbar">
<!-- START navbar header-->
<div class="navbar-header">

<a href="#/" class="navbar-brand">
<div class="brand-logo">
<img src="app/img/moola-logo.png" height="90px" alt="Moola Logo" class="img-responsive" />
</div>
<div class="brand-logo-collapsed">
<img src="app/img/moola-logo.png" height="90px" alt="Moola Logo" class="img-responsive" />
</div>
</a>
</div>
<!-- END navbar header-->
<!-- START Nav wrapper-->
<!--<div uib-collapse="navCollapsed" class="collapse navbar-collapse">-->
<!-- Navbar Menu -->

<div class="pull-right">

<label style="font-family: HPSimplified; font-weight: bold; font-size: 40px; color: white; margin-right: 15px; margin-top:35px"><em>Moola Stashed! = $1,000,000.00</em></label>
<!--<label class="moola-label">$1,000,000.00</label>-->
<!--<div class="">
<input type="text" placeholder=".input-lg" class="form-control input-lg">
</div>-->
</div> 
<!-- <div class="form-group">
<label class="col-lg-2 control-label">Moola Stashed!</label>
<div class="col-lg-10">
<input type="text" placeholder=".input-lg" class="form-control input-lg">
</div>
</div>-->

<!--</div>-->

</nav>
<!-- END Top Navbar-->